.matches-played-cell,
.points-cell,
.wins-cell,
.draws-cell,
.losses-cell,
.goal-difference-cell {
  text-align: center;
  padding-left: 12px;
  font-size: 14px;
}

.team-cell{
  padding-left: 4px;
}

.mp-header , .p-header, .w-header, .d-header, .l-header, .gd-header {
  padding-left: 12px;
}

.team-cell, .rank-cell {
  font-size: 14px;
}